if [ -f .env ]; then
    dotenv
fi

export SENTRY_DEVENV_HOME="${SENTRY_DEVENV_HOME:-$HOME/.local/share/sentry-devenv}"
PATH_add "${SENTRY_DEVENV_HOME}/bin"

# Don't need to source anything as things like sentry-kube and salt
# running in their own virtualenvs are linked to in here.
PATH_add "${PWD}/.devenv/bin"

# Add python venv
source .venv/bin/activate
