[Unit]
Description=Locust Load Test Worker
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ingest-load-tester
Environment="PATH=/opt/ingest-load-tester/.venv/bin"
ExecStart=/opt/ingest-load-tester/.venv/bin/locust \
    -f simple_locustfile.py \
    --worker \
    --master-host={{ hostvars[groups['master'][0]]['host_ip'] }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
